<div class="banner">
  <span>My Courses</span>
</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Course Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Decision Making</td>
        <td><a href="../../assets/Decision_Making/launcher.html" target="blank">View</a></td>
      </tr>
      <tr>
        <td>Vision</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Wisdom</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Strategic Planning</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Diplomacy</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Change Agent</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Responsibility</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Developing Others</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Managing Others</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Communication</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Resolving Conflict</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Ethicial Conduct</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Self-Awareness</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Emotional Intelligence</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Self-Control and Management</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Social Responsibility</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Intrinsic Motivation</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Character Development</td>
        <td>View</td>
      </tr>
    </tbody>
  </table>
  