<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Course Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>Decision Making</td>
          <td><a href="../../assets/Decision_Making/launcher.html">View</a></td>
      </tr>
      <tr>
        <td>Vision</td>
        <td>View</td>
    </tr>
    <tr>
        <td>Wisdom</td>
        <td>View</td>
    </tr>
    <tr>
        <td>Strategic Planning</td>
        <td>View</td>
    </tr>
    </tbody>
  </table>
  