<!--start of side bar -->
<ejs-sidebar id="default-sidebar" #sidebar [type]='type' [width]='width' [showBackdrop]="showBackdrop" (created)="onCreated($event)" style="visibility: hidden" [closeOnDocumentClick]="closeOnDocumentClick">
  <div class="sub-title pl-3 text-left">
    <img class="profile-pic mb-3" src="assets/img/smiley_face.png">
      <ul class="list-unstyled">
        <li (click)="select('Dashboard')" [ngClass]="{active: isActive('Dashboard')}"><a routerLink="/dashboard">Dashboard</a></li>
        <li (click)="select('Library')" [ngClass]="{active: isActive('Library')}"><a routerLink="/library">Library</a></li>
        <li (click)="select('Achievements')" [ngClass]="{active: isActive('Achievements')}"><a routerLink="/achievements">Achievements</a></li>
        <li (click)="select('My courses')" [ngClass]="{active: isActive('My courses')}"><a routerLink="/courses">My courses</a></li>
        <li (click)="select('Discussion Board')" [ngClass]="{active: isActive('Discussion Board')}"><a routerLink="/discussion">Discussion Board</a></li>
        <li><a href="https://fisher.osu.edu/blogs/leadreadtoday" target="_blank">Lead Read Today</a></li>
        <li (click)="select('BUILD Assessment')" [ngClass]="{active: isActive('BUILD Assessment')}"><a routerLink="/build-assessment">BUILD Assessment</a></li>
        <li><a href="">Log Out</a></li>
      </ul>
  </div>
</ejs-sidebar>
<!--end of side bar -->

<!--start of header -->
<div id="head">
  <button ejs-button id="toggle" #togglebtn cssClass="e-flat" iconCss="e-icons burg-icon" isToggle="true"
      (click)="toggleClick()">
  </button>
  <img class="float-right rounded-circle profile-icon" src="assets/img/default-profile-pic.png">
</div>
<!--start of header -->

<!--start of footer -->
<!--end of footer -->

<router-outlet></router-outlet>
