<!--start of side bar -->
<ejs-sidebar id="default-sidebar" #sidebar [type]='type' [width]='width' [showBackdrop]="showBackdrop" (created)="onCreated($event)" style="visibility: hidden" [closeOnDocumentClick]="closeOnDocumentClick">
  <div class="sub-title">
    <img class="profile-pic" src="assets/img/smiley_face.png">
      <ul class="list-unstyled">
        <li><a href="">Library</a></li>
        <li><a href="">Achievements</a></li>
        <li><a href="">My courses</a></li>
        <li><a href="">Discussion Board</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Lead Read Today</a></li>
        <li><a href="">BUILD Assessment</a></li>
        <li><a href="">Log Out</a></li>
      </ul>
  </div>
</ejs-sidebar>
<!--end of side bar -->

<div id="head">
  <button ejs-button id="toggle" #togglebtn cssClass="e-flat" iconCss="e-icons burg-icon" isToggle="true"
      (click)="toggleClick()">
  </button>
  <img class="float-right rounded-circle profile-icon" src="assets/img/default-profile-pic.png">
</div>
<router-outlet></router-outlet>