<!--start of side bar -->
<ejs-sidebar id="default-sidebar" #sidebar [type]='type' [width]='width' [showBackdrop]="showBackdrop" (created)="onCreated($event)" style="visibility: hidden" [closeOnDocumentClick]="closeOnDocumentClick">
  <div class="sub-title pl-3 text-left">
    <img class="profile-pic mb-3" src="assets/img/circle-brutus.png">
      <ul class="list-unstyled">
        <li class="sidebar-item" routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
        <li class="sidebar-item" routerLinkActive="active"><a routerLink="/library">Library</a></li>
        <li class="sidebar-item" routerLinkActive="active"><a routerLink="/achievements">Achievements</a></li>
        <li class="sidebar-item" routerLinkActive="active"><a routerLink="/courses">My courses</a></li>
        <li class="sidebar-item" routerLinkActive="active"><a routerLink="/discussion">Discussion Board</a></li>
        <li class="sidebar-item"><a href="https://fisher.osu.edu/blogs/leadreadtoday" target="_blank">Lead Read Today</a></li>
        <li class="sidebar-item" routerLinkActive="active"><a routerLink="/build-assessment">BUILD Assessment</a></li>
        <li class="sidebar-item" ><a href="">Log Out</a></li>
      </ul>
  </div>
</ejs-sidebar>
<!--end of side bar -->

<!--start of header -->
<div id="head">
  <button ejs-button id="toggle" #togglebtn cssClass="e-flat" iconCss="e-icons burg-icon" isToggle="true"
      (click)="toggleClick()">
  </button>
  
  <a routerLink="/profile">
    <img class="float-right rounded-circle profile-icon" src="assets/img/circle-brutus.png">
  </a>
</div>
<!--start of header -->

<router-outlet></router-outlet>

<!--start of footer -->
<div class="footer-wrap">
  <div class="footer" id="page-footer">
    <div class="content-wrap m-relative">
        <div class="footer-content">
          <img class="logo" srcset="/assets/img/osu-text-logo.png" alt="The Ohio State University">
            <div class="copyright">
              <p>©2020 Fisher College of Business</p>
              <p>2100 Neil Avenue, Columbus, Ohio 43210</p>
              <p>If you have a disability and experience difficulty accessing this site,<br>
              please contact us for assistance via email at
              <a href="mailto:fcob-accessibility@osu.edu?subject=Web Accessibility Request">fcob-accessibility@osu.edu</a>.</p>
          </div>
        
          <ul class="social-links">
              <li><a href="https://www.facebook.com/FisherLeads" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/fisherleads?lang=en" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://www.youtube.com/user/fisherosu" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com/company/fisherleads" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/fisherosu/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>

          <nav role="navigation" aria-labelledby="block-footermenu-menu" id="block-footermenu">
            <h2 class="visually-hidden" id="block-footermenu-menu">Footer Menu</h2>    
            <ul class="footer-nav">
              <li><a href="https://fisher.osu.edu/privacy-policy">Privacy Policy</a></li>
              <li><a href="https://osu.az1.qualtrics.com/SE/?SID=SV_6Dm3tGBA9HR2FMh" target="_blank" rel="noopener noreferrer">Feedback</a></li>
              <li><a href="https://forum.cob.ohio-state.edu/Pages/Welcome.aspx" target="_blank" rel="noopener noreferrer">Faculty &amp; Staff</a></li>
              <li><a href="/centers-partnerships/leadership/saml_login">Web Admin Login</a></li>
            </ul>
          </nav>

        </div>
    </div>
  </div>
<!--end of footer -->


