<div class="banner">
    <span>My Profile</span>
</div>

<div class="content">
    <div class="row">
        <!-- Left column of the page -->
        <div class="col-md-2 left-info">
            <div class="m-2 profile-pic">
                <img class="rounded-circle" src="assets/img/circle-brutus.png">
            </div>
            <div class="m-2">
                <div class="full-name">
                    <h3>Brutus Buckeye</h3>
                </div>
                <div class="info-field">
                    <div>
                        <b>Username:</b>
                    </div>
                    <div>
                        buckeye.1
                    </div>
                </div>
                <div class="info-field">
                    <div>
                        <b>Email:</b>
                    </div>
                    <div>
                        buckeye.1@osu.edu
                    </div>
                </div>
                <div class="info-field">
                    <div>
                        <b>Department:</b>
                    </div>
                    <div>
                        Fisher College of Business
                    </div>
                </div>
            </div>

        </div>

        <!-- Right column of the page -->
        <div class="col-md right-info">
            <div class="m-2">
                <div class="mt-5">
                    <h5>Profile Information</h5>
                </div>
                
                <div class="info-container">
                    <div class="info-field">
                        <div>
                            <b>First Name:</b>
                        </div>
                        <div>
                            Brutus
                        </div>
                    </div>
                    <div class="info-field">
                        <div>
                            <b>Middle Name:</b>
                        </div>
                        <div>
                            <br>
                        </div>
                    </div>
                    <div class="info-field">
                        <div>
                            <b>Last Name:</b>
                        </div>
                        <div>
                            Buckeye
                        </div>
                    </div>
                    <div class="info-field">
                        <div>
                            <b>Username:</b>
                        </div>
                        <div>
                            buckeye.1
                        </div>
                    </div>
                    <div class="info-field">
                        <div>
                            <b>Email:</b>
                        </div>
                        <div>
                            buckeye.1@osu.edu
                        </div>
                    </div>
                </div>
                
                    
            </div>
            
        </div>
    </div>
</div>

