#fisherCarousel img {
    height: 366px; 
    width: 950px;
    object-fit: cover;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.recommendation {
    width: 85%;
    background-color: white;
    margin: 0 auto;
    /* box-shadow: 0 0 10px 0 rgba(0,0,0,.1); */
}

.main-button {
    margin: 3px;
    padding: 5px 15px;
    background-color: #aa2222;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    transition: background .3s linear;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.centered-content {
    width: 90%; /* Can be in percentage also. */
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 36em) { 
    .main-button {
        height: 150px;
    }
}

.twitter-tile {
    margin: 3px;
    padding: 5px 15px;
    background-color: #aa2222;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    transition: background .3s linear;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
}

@media only screen and (min-width: 36em) {
    .main-button {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
}

.main-button:hover{
    background-color: #bb0000;
}