#fisherCarousel img {
    height: 366px; 
    width: 950px;
    object-fit: cover;
}

.twitter-timeline {
    margin-left: 88%;
    float: right;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
.carousel {
    width: 88%; 
    float: left;
}

.container.recommendation {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.main-button {
    margin: 3px;
    background-color: #aa2222;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background .3s linear;
}

@media only screen and (min-width: 36em) { 
    .main-button {
        height: 150px;
    }
}

.twitter-tile {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 150px;
}

@media only screen and (min-width: 36em) {
    .main-button {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
}

.main-button:hover{
    background-color: #bb0000;
}